/*Formulario*/
.card-form-modulo
{
    position: relative;
    top: 5%;
    width: 400px !important;
    border: 1px ;
    border-style: hidden;
    border-radius: 10px;
    margin: 5px;
}

@media only screen and (hover: none) and (pointer: coarse){
    .mobile-form-modulo{
        width: 340px !important;
    }
}

.label-title-modulo {
    font-size: 15px;
    font-weight: bold;
}

/*Vista*/