$color-pendiente: #ff9100;
$color-disponible: #058abe;
$color-finalizado: #5B5E6B;
$color-ocupado: #05be40;

html {
    overflow-x: hidden;
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

body {
    position: relative;
    width: 100vw;
    padding-left: 70px;
    padding-right: 0;
    margin-right: 0;

    @media only screen and (hover: none) and (pointer: coarse) {
        margin-left: 0;
        padding-left: 0;
    }
}

div {
    position: relative;
    margin: 0;
    padding: 0;
}

/*scroll*/
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #e4e4e4;
}

.card-form {
    position: relative;
    top: 10px;
    width: 400px !important;
    border: 1px;
    border-style: hidden;
    border-radius: 10px;
    margin: 5px;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .mobile-form {
        width: 90vw !important;
    }
}

.button-action {
    border: transparent;
    background-color: transparent;
    width: 100%;
    margin-top: -5px;

    &:hover {
        color: grey;
    }

    .text-action {
        position: relative;
        top: 2px;
        text-align: left;
    }
}

.buttons {
    text-align: center;
    font-size: 13px;
    border-radius: 20px;
}

.button-green {
    @extend .buttons;
    background-color: #05be40;
    color: #ffffff;
}

.button-red {
    @extend .buttons;
    background-color: #c20000;
    color: #ffffff;
}

.icon-detalle {
    color: black;
    width: 20px;
    height: 20px;

    &:hover {
        color: grey;
    }
}

/*-------------------- Estados -----------------------*/
.state {
    position: relative;
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 40px;
    margin-right: 5px !important;
}

.state-icon-all {
    color: white;
    margin: auto;
    
    &:hover {
        color: white;
    }
}

.state-pendiente {
    @extend .state;
    background-color: $color-pendiente;

    .state-icon {
        @extend .state-icon-all;
    }
}

.state-proceso {
    @extend .state;
    background-color: $color-ocupado;

    .state-icon {
        @extend .state-icon-all;
    }
}

.state-finish {
    @extend .state;
    background-color: $color-finalizado;

    .state-icon {
        @extend .state-icon-all;
        margin-right: 4.52px;
    }
}

#activo {
    @extend .state-proceso;
}

#no-activo {
    @extend .state-pendiente;
}


/*-------------------- Estado de Pagos -----------------------*/
.state-pago {
    width: 25px;
    height: 25px;
    border-radius: 40px;
    display: flex;
    margin-right: 10px;
}

.icon-pago {
    color: white;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#pago-pendiente {
    @extend .state-pago;
    background-color: $color-pendiente;

    .state-icon {
        @extend .icon-pago;
    }
}

#pago-cancelado {
    @extend .state-pago;
    background-color: $color-ocupado;

    .state-icon {
        @extend .icon-pago;
    }
}

#pago-parcial {
    @extend .state-pago;
    background-color: $color-disponible;

    .state-icon {
        @extend .icon-pago;
    }
}

/*-------------------------Menu----------------------*/
a {
    text-decoration: none;
    color: black;
}


/*----------------------Gaphics-------------------*/
.apexcharts-tooltip {
    border: solid 1px #969696;
    border-radius: 25px;
    background-color: #ffffff;

    .range-bar-tooltip {
        text-align: center;
        padding: 5px 15px;
    }

    #range-bar-tooltip-title {
        font-size: 12px;
        font-weight: 500;
    }

    #range-bar-tooltip-fecha {
        font-size: 11px;
    }
}


/*-----------------------Textos-----------------------------*/
.text-descripcion-agregar {
    margin-left: 10px;
    font-size: 11px;
}

.text-ajust-content {
    word-break: break-all;
}

/*-------------------------Botones---------------------------*/
.button-submit {
    margin-top: 15px;
}

.spinner-center-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

/*-------------------------Secciones---------------------------*/
.separacion-seccion {
    display: flex;
    z-index: 0;
    border-top: 1px solid #000000;
    padding-top: 15px;

    .b-titulo {
        width: fit-content;
        margin-right: 20px;
    }

    button {
        width: fit-content;
        border: transparent;
        background-color: transparent;

        svg {
            margin-top: -3.5px;
        }

        &:hover {
            filter: drop-shadow(1px 1px 1px #333333);
        }
    }

    .content-detalles-ingresos {
        padding-left: 50px;
        padding-top: 10px;
    }
}