.content-trazabilidad{
    margin: 0;
    padding: 5px;
    font-size: 13px;

    .detalle-trazabilidad{
        border: solid 1px #253163;
        border-radius: 20px;
        margin-left: 1px;
        margin-bottom: 5px;
    }
}
