@use 'Global.scss';

.content-modal-alertas {
    .content-modal-header {
        width: 100%;
    }

    .content-modal-body {
        .content-modal-mensaje {

        }
        
        .content-modal-buttons {
            position: relative;
            width: 100%;
            display: flex;
            margin: auto;
            padding: 0;
            padding-top: 10px;
            margin: 0;
            margin-top: 10px;

            .button-alert {
                border: black;
                padding: 5px 0;
            }

            #button-aceptar {
                @extend .button-green;
                @extend .button-alert;
            }

            #button-cancelar {
                @extend .button-red;
                @extend .button-alert;
            }
        }
    }
}

.content-modal {
    .content-modal-title {
        width: 100%;
    }

    .modal-content{
        align-items: center;
        justify-content: center;

        .button-copy {
            border: transparent;
            background-color: transparent; 
            padding: 30px;
            padding-top: 0;

            &:hover {
                border-color: 2px solid #dfdfdf;
                cursor: pointer;
            }

            .icon-text-copy {
                border: solid 2px #292929;
                border-radius: 5px;
                padding: 2px; 

                &:hover {
                    background-color: #c7c7c7;
                }
            }
        }
    }
}