@import 'Global.scss';

.accordion-estado-modulos {
    @extend .state;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}

#ocupado {
    @extend .accordion-estado-modulos;
    background-color: $color-ocupado;
}

#disponible {
    @extend .accordion-estado-modulos;
    background-color: $color-disponible;
}

#vendido {
    @extend .accordion-estado-modulos;
    background-color: $color-finalizado;
}

#en-espera {
    @extend .accordion-estado-modulos;
    background-color: $color-pendiente;
}

.conten-buttons-agregar {
    margin: 0 !important;
    padding: 0 !important;
    margin: auto;

    .content-total-modulos-estados {
        position: relative;
        justify-content: center;
        align-items: center;

        #total {
            @extend .accordion-estado-modulos;
            background-color: #353535;
        }

        .content-total-estado {
            margin-top: 8px;

            div {
                margin: auto;
                text-align: center;
            }
        }
    }

    .content-token {
        width: fit-content;
        position: relative;
        padding-top: 10px;
        margin: 0 auto;

        .form-check-input {}

        .form-check-label {}

        button {
            border: transparent;
            background-color: transparent;

            .icon-text-copy {
                margin-top: -7px;
                border: transparent;
            }
        }
    }

    .content-buscar {
        padding-top: 3px;

        .input-text-search-modulo {
            display: flex;
        }
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .conten-buttons-agregar {
        margin: 0 !important;
        padding: 0 !important;
        margin: auto;

        .content-total-modulos-estados {
            margin-bottom: 10px;

            .accordion-estado-modulos {
                position: relative;
                margin: auto;
            }
        }

        .content-buscar {

            .input-text-search-modulo {
                display: flex;
            }
        }

        .content-token {
            width: fit-content;
            padding-top: 5px !important;
            margin: auto;
            border-top: 2px solid #e4e4e4;

            .form-check-input {
                margin-top: 20px;
            }

            .form-check-label {
                margin-top: 15px;
            }

            button {
                border: transparent;
                background-color: transparent;

                .icon-text-copy {
                    border: transparent;
                }
            }
        }
    }
}

.icon-text-copy {
    border: solid 2px #292929;
    border-radius: 5px;
    padding: 3px 3px 2px 2px;
    margin-top: -4px;

    &:hover {
        cursor: pointer;
        background-color: #c7c7c7;
    }
}

.accordion-modulos {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;

    .accordion-header-modulos {
        padding-left: 15px;
        width: 100%;
        padding: 0;
        margin: 0;

        .icon-vinculado {
            width: 100%;
            height: 100%;
            padding: 4px;
        }

        .accordion-nombre-modulos {
            width: auto;
            padding: 0;
            margin: 0;
            margin-top: 3px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .content-buttons {
            width: fit-content;
            z-index: 2;

            .button-vender {
                margin-top: 7px;
                margin-right: 8px;

                &:hover {
                    filter: drop-shadow(0 1px 1px #7e7e7e);
                }
            }

            .button-delete {
                margin-top: 4px;
                margin-right: 8px;

                &:hover {
                    filter: drop-shadow(0 1px 1px #7e7e7e);
                }
            }
        }
    }

    .accordion-body-modulos {
        width: 100%;

        .col-12-accordion {
            margin-left: 4%;

            .url-qr {
                .button-copy-modulo {
                    border: transparent;
                    background-color: transparent;
                    margin-left: 1px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                padding-right: 90px;
                word-break: break-all;
            }
        }


        @media only screen and (hover: none) and (pointer: coarse) {
            .col-12-accordion {
                margin-left: 27px;

                .url-qr {
                    .button-copy-modulo {
                        border: transparent;
                        background-color: transparent;
                        margin-left: 1px;
                    }

                    padding-right: 60px;
                    word-break: break-all;
                }
            }
        }

        .content-trazabilidad-modulos {
            .proyecto-trazabilidad-modulos {}

            .fecha-trazabilidad-modulos {}
        }
    }
}

.content-modal-alertas {
    .content-modal-header {
        width: 100%;
    }

    .content-modal-body {
        .content-modal-mensaje {}

        .content-modal-buttons {
            position: relative;
            width: 100%;
            display: flex;
            margin: auto;
            padding: 0;
            padding-top: 10px;
            margin: 0;
            margin-top: 10px;

            .button-alert {
                border: black;
                padding: 5px 0;

                &:hover {
                    cursor: pointer;
                }
            }

            #button-aceptar {
                @extend .button-green;
                @extend .button-alert;
            }

            #button-cancelar {
                @extend .button-red;
                @extend .button-alert;
            }
        }
    }
}

/*Formulario*/
.card-form-modulo {
    position: relative;
    top: 5%;
    width: 400px !important;
    border: 1px;
    border-style: hidden;
    border-radius: 10px;
    margin: 5px;
}

.container-form-modulo {
    #button-sum {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: -14px;

        #icon {

            &:hover {
                cursor: pointer;
                background-color: #e4e4e4;
                border: solid 2px #e4e4e4;
                border-radius: 10px;
            }
        }
    }

    .content-select {
        margin-top: 5px;
        margin-bottom: 10px;

        div {
            margin: 0;
            padding: 0;
        }

        #button-sum-equipamiento {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            #icon {

                &:hover {
                    cursor: pointer;
                    background-color: #e4e4e4;
                    border: solid 2px #e4e4e4;
                    border-radius: 10px;
                }
            }
        }
    }

    .title-caracteristicas {
        margin: 0;
        padding-top: 10px;
        margin-bottom: -10px;
        font-weight: bold;
        text-align: center;
        border-top: 1px solid #dddcdc;
    }

    .title-section {
        padding-left: 15px;
        text-align: left;
        font-weight: 500;
    }

    .content-checks {
        text-align: left;
        padding-bottom: 10px;
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .mobile-form-modulo {
        width: 340px !important;
    }
}

.label-title-modulo {
    font-size: 15px;
    font-weight: bold;
}