@use 'Global.scss';

.accordion-modulos {
    position: relative;

    .accordion-header-modulos {
        padding-left: 15px;

        .accordion-estado-modulos {
            @extend .state;
        }

        .accordion-nombre-modulos {
            width: auto;
            margin-top: 3px;
        }

        #ocupado {
            background-color: #ffee00;
        }

        #disponible {
            background-color: #05be40;
        }

        #vendido {
            background-color: #ce0000;
        }

        .content-buttons {
            position: absolute;
            right: 50px;
            width: auto;
            z-index: 4;

            .button-vender {
                margin-top: 7px;

                &:hover {
                    filter: drop-shadow(0 1px 1px #7e7e7e);
                }
            }
        }
    }

    .accordion-body-modulos {
        .content-trazabilidad-modulos {
            .proyecto-trazabilidad-modulos {}

            .fecha-trazabilidad-modulos {}
        }
    }
}