.content-data {
    position: relative;
    width: 98vw;
    left: 2vw;

    .resumenTotales {
        width: 100%;
        background-color: rgb(32, 32, 32);
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: beige;
        align-items: center;

        .title-resumen-totales {
            font-size: 14px;
            font-weight: bold;
        }

        .text-resumen-totales {
            font-size: 15px;
        }

        .resumenTotal {
            align-items: center;
            text-align: center;
            padding: 8px;
        }

        .border-right{
            border-right: 1.5px solid white;
        }

        @media only screen and (hover: none) and (pointer: coarse){
            .border-mobile-right{
                border-right: transparent !important;
            } 
        
            .border-mobile-bot{
                padding-bottom: 5px;
                border-bottom: solid 1.5px white;
            }
        }
    }
}