.button-menu {
    margin-left: 20px;
    border-color: transparent;
}

.button-menu:hover{
    background-color: grey;
    border-color: transparent;
}

.text-link{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration:none;
}

.text-link:hover{
    color: gray;
}

.fondo-link{
    padding: 10px 0;
    border-bottom-style: solid !important;
    border-bottom: 1px;
    border-bottom-color: bisque !important;
}

.icon-drop{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration:none;
    margin-left: 15px;
}

.dropdown-link{
    padding: 10px 0;
    margin: 0 20px;
    border-bottom-style: solid !important;
    border-bottom: 1px;
    border-bottom-color: bisque !important;
}

.menu{
    background-color: #262625 !important;
}

.img-side{
    width: 40px;
    height: 70px;
    margin-top: 30px;
    margin-bottom: -20%;
}

.dropdown-content{
    background-color: #262625;
    border-color: transparent;
    text-decoration: none;
    color: white;
    text-align: left;
}