.card
{
    position: relative;
    top: 40%;
    width: 400px !important;
    border: 1px ;
    border-style: hidden;
    border-radius: 10px;
}

.title-form {
    font-weight: bold;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.button-submit{
    width: 100%;
}