.resumenTotales{
    background-color: rgb(32, 32, 32);
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: beige;
    align-items: center;
}

.title-resumen-totales{
    font-size: 14px;
    font-weight: bold;
}

.text-resumen-totales{
    font-size: 15px;
}

.acordeonTotales button{
    background-color: rgb(32, 32, 32);
    color: beige;
}

button .accordion-button {
    background-color: rgb(32, 32, 32);
    color: beige;
}

.resumenTotal{
    align-items: center;
    text-align: center;
    padding: 8px;
}

.button-ver-mas{
    border-color: transparent;
    background-color: transparent;
}

.icon-detalle{
    color: black;
}

.icon-detalle:hover{
    color: grey;
}

.text_select{
    color: black;
}

.border-right{
    border-right: 1.5px solid white;
}

.accordionCC{
    border: solid 1px !important;
}

.border-top{
    border-top: 1.5px solid white;
}

@media only screen and (hover: none) and (pointer: coarse){
    .border-mobile-right{
        border-right: transparent !important;
    } 

    .border-mobile-bot{
        padding-bottom: 5px;
        border-bottom: solid 1.5px white;
    }
}

.menu-inicio{
    background-color: whitesmoke;
    margin-bottom: 2px;
}

.menu-inicio-button-active {
    border: transparent;
    border-bottom: 3px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    padding: 10px 0;
}

.menu-inicio-button-off {
    border: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    padding: 10px 0;
}

/*Formulario*/
.card-form-proyectos
{
    position: relative;
    top: 5%;
    width: 400px !important;
    border: 1px ;
    border-style: hidden;
    border-radius: 10px;
    margin: 5px;
}

@media only screen and (hover: none) and (pointer: coarse){
    .mobile-form-proyecto{
        width: 340px !important;
    }
}

.label-title-proyecto {
    font-size: 15px;
    font-weight: bold;
}