

.acordeonTotales button{
    background-color: rgb(32, 32, 32);
    color: beige;
}

button .accordion-button {
    background-color: rgb(32, 32, 32);
    color: beige;
}

.button-ver-mas{
    border-color: transparent;
    background-color: transparent;
}

.text_select{
    color: black;
}

.border-right{
    border-right: 1.5px solid white;
}


.border-top{
    border-top: 1.5px solid white;
}

@media only screen and (hover: none) and (pointer: coarse){
    .border-mobile-right{
        border-right: transparent !important;
    } 

    .border-mobile-bot{
        padding-bottom: 5px;
        border-bottom: solid 1.5px white;
    }
}

/*Formulario*/
.card-form-proyectos
{
    position: relative;
    top: 5%;
    width: 400px !important;
    border: 1px ;
    border-style: hidden;
    border-radius: 10px;
    margin: 5px;
}

@media only screen and (hover: none) and (pointer: coarse){
    .mobile-form-proyecto{
        width: 340px !important;
    }
}

.label-title-proyecto {
    font-size: 15px;
    font-weight: bold;
}