/*Formulario*/
.card-form-egreso
{
    position: relative;
    top: 10px;
    width: 400px !important;
    border: 1px ;
    border-style: hidden;
    border-radius: 10px;
    margin: 5px;
}

@media only screen and (hover: none) and (pointer: coarse){
    .mobile-form-egreso{
        width: 80vw !important;
    }
}

.title-form {
    font-weight: bold;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.check {
    margin-bottom: 13px;
}

.label-title {
    font-size: 17px;
    font-weight: bold;
}

.button-submit{
    width: 100%;
}

.text-total-stock-egreso{
    margin-left: -60px;
    margin-bottom: 10px;
    font-size: 14px;
}

/*Vista*/
.acordion{
    margin-top: 5px !important;
}


.titulo-egresos-vista{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 15px !important;
    margin-bottom: -15px;
    font-weight: bold;
}
